<section class="products">
  <div class="products-container container">
    <div class="products-pigination">
      <button type="button" class="active" *ngFor="let i of newPages">
        {{ i }}
      </button>
    </div>
    <ul class="products-cards">
      <li class="products-cards__item products-cards__spray">
        <h2 class="products-cards__title">Construction finishing tool</h2>
        <div class="products-cards__content">
          <div class="products-cards__image">
            <img src="../assets/products/spray.png" alt="image" />
          </div>
          <a href="#" class="products-cards__link">
            <span>Go to catalog</span>
          </a>
        </div>
      </li>
      <li class="products-cards__item products-cards__emals">
        <div class="products-cards__image">
          <img src="../assets/products/emal.png" alt="image" />
        </div>
        <div class="products-cards__content">
          <h2 class="products-cards__title">Enamels</h2>
          <a href="#" class="products-cards__link">
            <span>Go to catalog</span>
          </a>
        </div>
      </li>
      <li class="products-cards__item products-cards__paints">
        <h2 class="products-cards__title">Paints and varnishes materials</h2>
        <div class="products-cards__content">
          <a href="#" class="products-cards__link">
            <span>Go to catalog</span>
          </a>
          <div class="products-cards__image">
            <img src="../assets/products/paint-and-varnish.png" alt="image" />
          </div>
        </div>
      </li>
      <li class="products-cards__item products-cards__foams">
        <div class="products-cards__content">
          <h2 class="products-cards__title">Foams, adhesives and sealants</h2>
          <a href="#" class="products-cards__link">
            <span>Go to catalog</span>
          </a>
        </div>
        <div class="products-cards__image">
          <img src="../assets/products/sealant.png" alt="image" />
        </div>
      </li>
      <li class="products-cards__item products-cards__sockets">
        <h2 class="products-cards__title">Sockets and switches</h2>
        <div class="products-cards__content">
          <div class="products-cards__image">
            <img src="../assets/products/socket.png" alt="image" />
          </div>
          <a href="#" class="products-cards__link">
            <span>Go to catalog</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
