<footer class="footer">
  <div class="footer-top">
    <div class="footer__container container">
      <div class="footer__contacts">
        <div class="footer__logo">
          <img src="../assets/logo.svg" alt="Logo" />
        </div>
        <div class="footer__contact">
          <div class="footer__phone">
            <p class="footer__phone-name">Contact phone number</p>
            <a href="tel:+67761012527" class="footer__phone-number"
              >+67761012527</a
            >
            <a href="tel:+67761012527" class="footer__phone-number"
              >+67761012527</a
            >
          </div>
          <div class="footer__emails">
            <p class="footer__emails-name">E-mail</p>
            <a href="email:farrukh0331@proton.me" class="footer__email-adres"
              ><p>farrukh0331&#64;proton.me</p></a
            >
            <a href="email:farrukh0331@proton.me" class="footer__email-adres"
              >farrukh0331&#64;proton.me</a
            >
          </div>
        </div>
      </div>
      <div class="footer__ask">
        <div class="ask__content">
          <h4 class="ask__title">Any questions left?</h4>
          <p class="ask__text">
            Be the first to know about discounts, offers and events weekly in
            your inbox. Unsubscribe at any time with one click.
          </p>
          <div class="ask__form">
            <input type="text" placeholder="Enter your email" />
            <button type="button">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom__container container">
      <div class="footer-bottom__left">
        <nav class="footer-bottom__menu">
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Catalog</li>
          </ul>
        </nav>
        <div class="footer-bottom__socials">
          <a href="#" class="footer-bottom__social">
            <img src="../assets/footer/facebook.svg" alt="Icon" />
          </a>
          <a href="#" class="footer-bottom__social">
            <img src="../assets/footer/youtube.svg" alt="Icon" />
          </a>
          <a href="#" class="footer-bottom__social">
            <img src="../assets/footer/we-chat.svg" alt="Icon" />
          </a>
        </div>
      </div>
      <div class="footer-bottom__right">
        <p>© 2021-2025, EDE</p>
      </div>
    </div>
  </div>
</footer>
