@import "../../../styles.scss";
.is-show-header {
  background-color: green;
  padding: 5px 10px;
  border-radius: 10px;
  color: #fff;
}

.header {
  &-top {
    background-color: $mainColor;
    padding: 24px 0;
    color: $textColor;
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
    &__menu {
      display: flex;
      align-items: center;
      gap: 40px;
      font-weight: 600;
      line-height: 19.36px;
      width: 390px;
      @media (max-width: $mobile) {
        gap: 20px;
      }
    }
    &__nav {
      ul {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        li:hover {
          cursor: pointer;
        }
        @media (max-width: $mobile) {
          gap: 15px;
        }
      }
    }
    &__actions {
      display: flex;
      align-items: center;
      gap: 40px;
      font-weight: 500;
      line-height: 19.36px;
      @media (max-width: $mobile) {
        gap: 10px;
      }
    }
    &__phone {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        background-image: url("../../../assets/phone.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 28px;
        height: 28px;
        top: -5px;
        left: -30px;
      }
    }
    &__marked {
      position: relative;
      width: 30px;
      height: 30px;
      &::before {
        content: "";
        position: absolute;
        background-image: url("../../../assets/marked.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 28px;
        height: 28px;
      }
    }
    &__card {
      position: relative;
      padding: 14px 20px 14px 58px;
      border: 1px solid $yellowColor;
      border-radius: 50px;
      &::before {
        content: "";
        position: absolute;
        background-image: url("../../../assets/basket.svg");
        background-repeat: no-repeat;
        width: 28px;
        height: 28px;
        top: 9px;
        left: 15px;
      }
    }
  }
}

.header-bottom {
  padding: 15px 0;
  background-color: $yellowColor;
  color: $darkColor;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }
  &__menu {
    ul {
      display: flex;
      align-items: center;
      gap: 24px;
      @media (max-width: 1100px) {
        gap: 15px;
      }
      .header-bottom__item:first-child {
        position: relative;
        width: 16px;
        height: 2px;
        background-color: $darkColor;
        margin-right: -10px;
        @media (max-width: $tablet) {
          display: none;
        }
        &::before {
          content: "";
          position: absolute;
          width: 16px;
          height: 2px;
          background-color: $darkColor;
          display: block;
          bottom: 4px;
        }
        &::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 2px;
          background-color: $darkColor;
          display: block;
          top: 4px;
        }
      }
    }
  }
  &__search-map {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    @media (max-width: 1100px) {
      gap: 25px;
    }
  }
  &__search {
    position: relative;
    width: 400px;
    height: 30px;
    border-bottom: 1px solid $darkColor;
    @media (max-width: 1100px) {
      width: 280px;
    }
    & button {
      background-image: url("../../../assets/search.svg");
      width: 24px;
      height: 24px;
      right: 0;
      position: absolute;
    }
    input {
      background-color: transparent;
      width: 100%;
      height: 24px;
      padding-left: 5px;
      &:focus {
        outline: none;
        background-color: #e7c685;
      }
    }
  }
  &__location {
    position: relative;
    color: $textColor;
    &::before {
      content: "";
      background-image: url("../../../assets/map.svg");
      background-repeat: no-repeat;
      width: 12px;
      height: 12px;
      position: absolute;
      left: -14px;
      top: 2px;
    }
  }
}
