<header class="header">
  <div class="header-top">
    <div class="header-top__container container">
      <div class="header-top__menu">
        <div class="header__logo">
          <img src="../assets/logo.svg" alt="Logo" />
        </div>
        <nav class="header-top__nav">
          <ul>
            <ng-container *ngFor="let itemLink of topHeaderLinks">
              <li>
                <a [routerLink]="itemLink.link">{{ itemLink.name }}</a>
              </li>
            </ng-container>
            <li>
              <a
                routerLink="admin"
                *ngIf="hasAdmin | async"
                class="bg-red-600 text-white px-5 py-1"
              >
                Admin
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-top__time">{{ "mediumDate" | todayDate }}</div>
      <div class="flex justify-start gap-2 items-center w-52">
        <button
          type="button"
          (click)="logIn()"
          style="
            background-color: green;
            padding: 5px 20px;
            border-radius: 5px;
            font-weight: 800;
          "
          mat-stroked-button
        >
          Log In
        </button>

        <button
          *ngIf="hasAdmin | async"
          type="button"
          (click)="logout()"
          style="
            background-color: green;
            padding: 5px 20px;
            border-radius: 5px;
            font-weight: 800;
          "
          mat-stroked-button
        >
          Log Out
        </button>
      </div>
      <div class="header-top__actions">
        <a href="tel:+4367761012527" class="header-top__phone"
          >+4367761012527</a
        >
        <a href="#" class="header-top__marked"></a>
        <a yellowHover href="#" class="header-top__card">
          <span>Empty</span>
        </a>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container header-bottom__container">
      <nav class="header-bottom__menu">
        <ul>
          <span class="header-bottom__item"></span>
          <ng-container *ngFor="let item of menuListChanged">
            <li class="header-bottom__item">
              {{ item }}
            </li>
          </ng-container>
          <button type="button" class="is-show-header" (click)="changeText()">
            {{ changeButtonText }}
          </button>
          <span class="text-white font-black text-xl"
            >You are
            {{ (hasAdmin | async) === true ? "an Admin" : "a User" }}</span
          >
        </ul>
      </nav>
      <div class="header-bottom__search-map">
        <div class="header-bottom__search">
          <input
            type="text"
            name="search"
            placeholder="Search, for example, Cleaning circle"
          />
          <button type="button"></button>
        </div>
        <div class="header-bottom__location">Vienna</div>
      </div>
    </div>
  </div>
</header>
