<section class="popular">
  <div class="container popular-container">
    <button type="button" class="popular-slide__left">
      <img src="../assets/popular/left.svg" alt="Left" />
    </button>
    <div class="popular__top">
      <h2 class="popular__title">New items</h2>
      <a href="#" class="popular__more">View all products</a>
    </div>
    <div class="popular-card">
      <article class="popular__item">
        <div class="popular-card__image">
          <span class="popular-card__new new">News</span>
          <div class="popular-card__discount">
            <span>5</span>
            <span>%</span>
          </div>
          <img
            class="popular-card__img"
            src="../assets/popular/popular-1.png"
            alt="image"
          />
          <button type="button" class="popular-card__matked">
            <img src="../assets/popular/marked.svg" alt="icon" />
          </button>
        </div>
        <div class="popular-card__content">
          <h4 class="popular-card__subtitle">Grinding wheel 125x6x22</h4>
          <div class="popular-card__articles">
            <span class="popular-card__article">Article: </span>
            <span class="popular-card__article">00004</span>
          </div>
          <div class="popular-card__price-title">
            <span class="popular-card__unit"> Price per unit </span>
            <div class="popular-card__prices">
              <span class="popular-card__old-price">
                <span>25</span>
                <span>€</span>
              </span>
              <span class="popular-card__new-price">
                <span>15</span>
                <span>€</span>
              </span>
            </div>
          </div>

          <div class="popular-card__quantitys">
            <div class="popular-card__quantity">
              <span class="popular-card__quantity-title">Quantity</span>
              <div class="popular-card__quantity-block">
                <button type="button" class="popular-card__quantity-minus">
                  -
                </button>
                <span class="popular-card__quantity-count">1</span>
                <button type="button" class="popular-card__quantity-plus">
                  +
                </button>
              </div>
            </div>
            <button type="button" class="popular-card__to-cart">
              Into a Basket
            </button>
          </div>
        </div>
      </article>
      <article class="popular__item">
        <div class="popular-card__image">
          <span class="popular-card__new">News</span>
          <div class="popular-card__discount discount">
            <span>5</span>
            <span>%</span>
          </div>
          <img
            class="popular-card__img"
            src="../assets/popular/popular-1.png"
            alt="image"
          />
          <button type="button" class="popular-card__matked">
            <img src="../assets/popular/marked.svg" alt="icon" />
          </button>
        </div>
        <div class="popular-card__content">
          <h4 class="popular-card__subtitle">Grinding wheel 125x6x22</h4>
          <div class="popular-card__articles">
            <span class="popular-card__article">Article: </span>
            <span class="popular-card__article">00004</span>
          </div>
          <div class="popular-card__price-title">
            <span class="popular-card__unit"> Price per unit </span>
            <div class="popular-card__prices">
              <span class="popular-card__old-price">
                <span>25</span>
                <span>€</span>
              </span>
              <span class="popular-card__new-price">
                <span>15</span>
                <span>€</span>
              </span>
            </div>
          </div>

          <div class="popular-card__quantitys">
            <div class="popular-card__quantity">
              <span class="popular-card__quantity-title">Quantity</span>
              <div class="popular-card__quantity-block">
                <button type="button" class="popular-card__quantity-minus">
                  -
                </button>
                <span class="popular-card__quantity-count">1</span>
                <button class="popular-card__quantity-plus">+</button>
              </div>
            </div>
            <button type="button" class="popular-card__to-cart">
              Into a Basket
            </button>
          </div>
        </div>
      </article>
      <article class="popular__item">
        <div class="popular-card__image">
          <span class="popular-card__new new">News</span>
          <div class="popular-card__discount discount">
            <span>5</span>
            <span>%</span>
          </div>
          <img
            class="popular-card__img"
            src="../assets/popular/popular-1.png"
            alt="image"
          />
          <button type="button" class="popular-card__matked">
            <img src="../assets/popular/marked.svg" alt="icon" />
          </button>
        </div>
        <div class="popular-card__content">
          <h4 class="popular-card__subtitle">Grinding wheel 125x6x22</h4>
          <div class="popular-card__articles">
            <span class="popular-card__article">Article: </span>
            <span class="popular-card__article">00004</span>
          </div>
          <div class="popular-card__price-title">
            <span class="popular-card__unit"> Price per unit </span>
            <div class="popular-card__prices">
              <span class="popular-card__old-price">
                <span>25</span>
                <span>€</span>
              </span>
              <span class="popular-card__new-price">
                <span>15</span>
                <span>€</span>
              </span>
            </div>
          </div>

          <div class="popular-card__quantitys">
            <div class="popular-card__quantity">
              <span class="popular-card__quantity-title">Quantity</span>
              <div class="popular-card__quantity-block">
                <button type="button" class="popular-card__quantity-minus">
                  -
                </button>
                <span class="popular-card__quantity-count">1</span>
                <button class="popular-card__quantity-plus">+</button>
              </div>
            </div>
            <button type="button" class="popular-card__to-cart">
              Into a Basket
            </button>
          </div>
        </div>
      </article>
      <article class="popular__item">
        <div class="popular-card__image">
          <span class="popular-card__new new">News</span>
          <div class="popular-card__discount discount">
            <span>5</span>
            <span>%</span>
          </div>
          <img
            class="popular-card__img"
            src="../assets/popular/popular-1.png"
            alt="image"
          />
          <button type="button" class="popular-card__matked">
            <img src="../assets/popular/marked.svg" alt="icon" />
          </button>
        </div>
        <div class="popular-card__content">
          <h4 class="popular-card__subtitle">Grinding wheel 125x6x22</h4>
          <div class="popular-card__articles">
            <span class="popular-card__article">Article: </span>
            <span class="popular-card__article">00004</span>
          </div>
          <div class="popular-card__price-title">
            <span class="popular-card__unit"> Price per unit </span>
            <div class="popular-card__prices">
              <span class="popular-card__old-price">
                <span>25</span>
                <span>€</span>
              </span>
              <span class="popular-card__new-price">
                <span>15</span>
                <span>€</span>
              </span>
            </div>
          </div>

          <div class="popular-card__quantitys">
            <div class="popular-card__quantity">
              <span class="popular-card__quantity-title">Quantity</span>
              <div class="popular-card__quantity-block">
                <button type="button" class="popular-card__quantity-minus">
                  -
                </button>
                <span class="popular-card__quantity-count">1</span>
                <button class="popular-card__quantity-plus">+</button>
              </div>
            </div>
            <button type="button" class="popular-card__to-cart">
              Into a Basket
            </button>
          </div>
        </div>
      </article>
    </div>
    <button type="button" class="popular-slide__right">
      <img src="../assets/popular/right.svg" alt="Right" />
    </button>
  </div>
</section>
