<mat-card shadowHover class="card" appearance="outlined">
  <mat-card-header class="header">
    <img
      class="image"
      mat-card-sm-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    />
    <mat-card-title-group>
      <mat-card-title class="title">{{ userItem.name }}</mat-card-title>
      <mat-card-subtitle
        ><strong> ID: </strong>{{ userItem.id }}</mat-card-subtitle
      >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="content">
    <p><strong> Phone: </strong>{{ userItem.address?.zipcode | CleanPhone }}</p>
    <p><strong> E-Mail: </strong>{{ userItem.email }}</p>
    <p><strong> Web site: </strong> {{ userItem.website }}</p>
    <p><strong> Company: </strong> {{ userItem.company.name }}</p>
    <div class="buttons">
      <button
        type="button"
        redHover
        class="delete"
        mat-stroked-button
        (click)="onDeleteUserDialog()"
      >
        Dellete User
      </button>
      <button
        type="button"
        greenHover
        class="edit"
        mat-stroked-button
        (click)="onEditUser()"
      >
        Edit User
      </button>
    </div>
  </mat-card-content>
</mat-card>
