<div class="users">
  <div class="container">
    <div class="flex justify-center">
      <button
        greenHover
        (click)="openUserCreateDialog()"
        mat-stroked-button
        style="color: #fff; padding: 10px 20px; font-weight: 800"
      >
        Create User
      </button>
    </div>
    <ul class="flex justify-center flex-wrap gap-2 pt-6">
      <li *ngFor="let item of users$ | async">
        <app-user-card
          [userItem]="item"
          (deleteUser)="deleteUser($event)"
          (editUser)="editUser($event)"
        ></app-user-card>
      </li>
    </ul>
  </div>
</div>
