@import "../../../styles.scss";
.users {
  padding: rem(20) 0;
  &_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    @include adaptiveValue("width", 1320, 320);
    padding: rem(20) 0;
    gap: rem(10);
  }
}
.create-user {
  border: 1px solid black;
  border-radius: rem(10);
  padding: rem(20) rem(10);
  width: rem(400);
}
