<form [formGroup]="form" class="flex flex-col gap-2.5 w-72 p-4">
  <mat-form-field appearance="fill">
    <mat-label>Name:</mat-label>
    <input matInput formControlName="name" />
    <mat-error>Not correct</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email:</mat-label>
    <input matInput formControlName="email" />
    <mat-error>Not correct</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Web Site:</mat-label>
    <input matInput formControlName="website" />
    <mat-error>Not correct</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Company name:</mat-label>
    <input matInput formControlName="companyName" />
    <mat-error>Not correct</mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    #tooltip="matTooltip"
    matTooltip="Edit user details"
    [matTooltipPosition]="position.value!"
    matTooltipHideDelay="1000"
    [mat-dialog-close]="userWithUpdatedFields"
    type="submit"
    class="bg-gray-400 py-1 flex justify-center items-center text-white font-black disabled:bg-opacity-20"
    [disabled]="form.invalid"
    mat-stroked-button
  >
    Edit User <mat-icon> border_color </mat-icon>
  </button>
</form>
