@use "sass:math";
@import "./scss/mixins.scss";
// @use "@angular/material" as mat;
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700);

// main Styles =====
$mainColor: #4b565e;
$yellowColor: #f0ba4e;
$textColor: #fff;
$darkColor: #3c3c3b;
$newColor: #08c785;
$discountColor: #fa5d69;
// ================
$widthContent: 1320px;
$maxContent: 1920px;
$minWidth: 320px;
$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S
// ================
$fontStyle: "Inter";
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1320;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина страбатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em(
  $containerWidth
); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
// =================
.wrapper {
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  // overflow: hidden;
  grid-template-rows: auto 1fr auto;
  position: relative;
  overflow-x: hidden;
}
// =================
// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

@if ($responsiveType==1) {
  // Отзывчивая
  [class*="container"] {
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: 0 rem(math.div($containerPadding, 2));
    }
  }
} @else {
  // По брейк-поинтам
  [class*="container"] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: rem($maxWidthContainer);
      box-sizing: content-box;
    } @else {
      @if ($containerPadding>0) {
        padding: 0 rem(math.div($containerPadding, 2));
        border: 1px solid blue;
      }
    }
    @media (max-width: $pc) {
      max-width: rem(970);
    }
    @media (max-width: $tablet) {
      max-width: rem(750);
    }
    @media (max-width: $mobile) {
      max-width: none;
      @if ($containerPadding>0 and $maxWidthContainer>0) {
        padding: 0 rem(math.div($containerPadding, 2));
      }
    }
  }
}
// ==============
// @include mat.form-field-overrides(
//   (
//     filled-caret-color: orange,
//     filled-focus-active-indicator-color: red,
//   )
// );
// ==============
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./scss/null.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.cdk-overlay-container {
  min-width: 100%;
}
