<section class="info">
  <div class="info-container container">
    <div class="info-assortment info-card">
      <img src="../assets/info/delivery.svg" alt="delivery" />
      <div class="info-text">
        <p class="info-text__subtitle">
          <strong>Large assortment</strong>
          <span>building materials always in stock</span>
        </p>
      </div>
    </div>
    <div class="info-delivery info-card">
      <img src="../assets/info/info.svg" alt="info" />
      <div class="info-text">
        <p class="info-text__subtitle">
          <strong>Delivery of building materials</strong>
          <span>within four hours or at any convenient time</span>
        </p>
      </div>
    </div>
    <div class="info-like info-card">
      <img src="../assets/info/like.svg" alt="like" />
      <div class="info-text">
        <p class="info-text__subtitle">
          <span>Multi-level </span>
          <strong>quality management system </strong>
          <span>according to ISO 9001</span>
        </p>
      </div>
    </div>
  </div>
</section>
